{{define "header"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      html {
        font-family: Helvetica, Arial, sans-serif;
      }
      table.header {
        width: 100%;
        padding: 0px 10%;
      }
      .align-right {
        text-align: right;
      }
      .error {
        color: red;
        font-style: italic;
      }
    </style>
  </head>
  <body>
{{end}}
