{{define "input"}}

<input
  type="text"
  name="username_or_email"
  size="20"
  autocorrect="off"
  spellcheck="false"
  autocapitalize="off"
  autofocus="true"
/>

{{end}} {{template "header"}}

<a href="/">< home</a>

<br />
<br />

<b>Login</b>
<form action="/login" method="POST">
  <table border="0">
    <tbody>
      <tr>
        <td>username or email:</td>
        <td>{{ template "input" }}</td>
      </tr>
      {{ if .login_error }}
      <tr>
        <td colspan="2" class="error">{{ .login_error }}</td>
      </tr>
      {{ end }}
    </tbody>
  </table>
  <input type="submit" value="login" />
</form>

<br />
<br />

<b>Signup</b>
<form action="/signup" method="POST">
  <table border="0">
    <tbody>
      <tr>
        <td>username or email:</td>
        <td>{{ template "input" }}</td>
      </tr>
      {{ if .signup_error }}
      <tr>
        <td colspan="2" class="error">{{ .signup_error }}</td>
      </tr>
      {{ end }}
    </tbody>
  </table>
  <input type="submit" value="signup" />
</form>

<p><i>You'll recieve an email with a login link.</i></p>

{{template "footer"}}
